@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h5>Hamza CKR Doesn't Need Any Privacy As He Is Awaami</h5>
<p>
    Contact and identification information, such as name, address, email address, telephone number, account login information (including, if applicable, social media account information for login purposes), signature, driver’s license information, and social security number.
    Demographic information, such as gender, age or date of birth, marital status, military or veteran status, race or national origin, household composition, professional, education, or employment-related information, and information about your interests.
    Financial information, such as payment card information (e.g. credit or debit card number, CVV code, expiration date), financial account information, payment history, and information related to your creditworthiness, assets, income, or liabilities.
    Information about your vehicles, products, and relationship with us, such as vehicle license plate number, VIN, make, model, and year; selling and servicing dealers; date of purchase, rental, or lease; financing, rental, or lease term; serial number or other unique product identifiers (e.g. part number, UPC);
    service history; mileage, oil/battery status, fuel or charging history, electrical system function, gear status, and diagnostic trouble codes; purchase information and history; loyalty program information; and information about how you interact with us, including how you interact with our vehicles, products and services.
    Internet or other network or device activity, such as information about the browsers and devices you use to access our Sites, emails, and advertisements (e.g. device type, browser type and language, hardware model, operating system version, unique device identifiers, and IP address) and how you interact with our Sites, 
    emails, and advertisements (e.g. features used, content viewed, addresses of referring websites, and the dates and times of your interactions).
    Location information. When you use our Sites and services we may collect and process location information, including precise geolocation information, as described below.
    Audio, electronic, visual or similar information, such as your communications with us; photos, videos or other content you submit to us or post on our Sites or services, 
    for example, in connection with a sweepstakes or contest; and footage from cameras in our retail stores and facilities, collected as described below.
    Other information that identifies or can be reasonably associated with you.
</p>

