
@{
    ViewData["Title"] = "LMS";
}


<main class="text-center container">
<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/en/e/e4/National_University_of_Computer_and_Emerging_Sciences_logo.png" alt="" width="240" height="240">
<h1>FAST NUCES</h1>
<h3>LMS - Where learning beigins</h3>

<div class="container row text-center justify-content-between m-">
            <a href="/Login?role=user" class="col-5 text-center btn btn-group bg-light btn-outline-primary">
                Login as User
            </a>
        <a href="/Login?role=teacher" class="col-6 text-center btn btn-group bg-light btn-outline-primary">
                Login as Teacher
            </a>
        
</div>
</main>