
@{
    ViewData["Title"] = "LMS";
}
<style>
    .flex {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .flex-item + .flex-item {
        margin-left: 10px;
    }

    .button {
        background: #1D6C9B;
        border-radius: 999px;
        box-shadow: #1D6C9B 0 10px 20px -10px;
        box-sizing: border-box;
        background-color: lightsteelblue;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        cursor:pointer;
       
    }
</style>

<main class="text-center container">
<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/en/e/e4/National_University_of_Computer_and_Emerging_Sciences_logo.png" alt="" width="240" height="240">
<h1>FAST NUCES</h1>
<h3>LMS - Where learning beigins</h3>

    <div class="flex" >
        <div class="flex-item">
        <a href="/Login?role=user" class="button">
                Login as User
            </a>
        </div>
    <div class="flex-item">
        <a href="/Login?role=teacher" class="button">
                Login as Teacher
            </a>
        </div>
</div>
</main>